.header{
    background-color: #FFFFFF;  
}

.header__title{
    font-size:50px;
    line-height:64px;
    font-weight:500;
    padding-top:40px;
    padding-bottom:40px;
    text-align:left;
    margin:0;
}

.header__logo{
    padding-top:24px;
}

.header__logo-img{
    width:110px;
    height:32px;
}