.preview__cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;  
}

.card{
    width:350px;
    height:367px;
    border-radius:12px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);  
}


@media screen and (max-width: 576px) {
    .card{
        width:164px;
        height:177px;
    }
    .preview__cards{
        gap:16px;  
    }
}