.toggler{
    display:inline-flex;
    position:relative;
}

.toggler__input{
    position:absolute;
    clip: rect(0, 0, 0, 0);
}

.toggler__state{
    display:flex;
    align-items: center;
    gap:12px;
    cursor:pointer;
}

.toggler__control{
    border:1px solid #DDE2E5;
    border-radius:16px;
    background:#FFFFFF;
    box-sizing: border-box;
    width:52px;
    height:28px;
    position:relative;
}

.toggler__icon{
    background:#DDE2E5;
    border-radius:50%;
    width:24px;
    height:24px;
    position:absolute;
    top:1px;
    left:2px;
}

.toggler__title{
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    font-weight: 400;
    user-select: none;
}

.toggler__input:checked ~ .toggler__state .toggler__control{
    border-color: #4263EB;
    background-color: #4263EB;;
}

.toggler__input:checked ~ .toggler__state .toggler__icon{
    background:#FFFFFF;
    left:24px;
}

.toggler__input:focus ~ .toggler__state .toggler__title{
    text-decoration:underline;
}

.toggler__input:disabled ~ .toggler__state .toggler__control{
    border-color: #DDE2E5;
    background-color: #DDE2E5;;
}

.toggler__input:disabled ~ .toggler__state .toggler__title{
    color:#DDE2E5;
}

.toggler__input:disabled ~ .toggler__state .toggler__icon{
    background: #ACB5BD;;
}