.histogram{
    border:1px solid #ACB5BD;
    border-radius:8px;
    padding:16px 24px;
    font-family: 'Inter', sans-serif;
    font-size:16px;
    line-height:24px;
    font-weight:400;
    color:#212429;  
}

.histogram__header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.histogram__title{
   margin-bottom: 6px;
}

.histogram__amount{
    font-size:20px;
    line-height:26px;
    margin-bottom: 40px;
}

.histogram__link{
    text-decoration:none;
    color:#4263EB;
    cursor:pointer;
}

.histogram__body{
    display:flex;
    flex-direction: row;    
    align-items:flex-end;    
    height:50px;
}

.histogram__column{
    background-color: #4263EB;
    flex:1;
}

.histogram__column_max{
    height:100%;
}

.histogram__column_middle{
    height:60%;
}

.histogram__column_min{
    height:20%;
}