.page{ 
    color:#212429;
}

.page_component{
    display:grid;
    grid-template-rows: auto 1fr auto;
    background-color: #F9FAFC;
}

.page__header{
    padding:24px 16px 62px 16px;
}

.page__main{
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 0 56px;
    position:relative;
}

@media screen and (max-width: 992px) {
    .page__main{
        display:block;
    }
}


@media screen and (max-width: 576px) {
    .page__header{
        padding:17px 16px 17px 16px;
    }
}




