.radio{
    display:inline-flex;
    position:relative;
}

.radio__input{
    position:absolute;
    clip: rect(0, 0, 0, 0);
}

.radio__state{
    display:flex;
    align-items: center;
    gap:12px;
    cursor:pointer;
}

.radio__control{
    border:1px solid #DDE2E5;
    border-radius:50%;
    background:#FFFFFF;
    box-sizing: border-box;
    width:28px;
    height:28px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.radio__icon{
    display:none;
}

.radio__title{
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    font-weight: 400;
    user-select: none;
}

.radio__input:checked ~ .radio__state .radio__control{
    border:2px solid #4263EB;
}

.radio__input:checked ~ .radio__state .radio__icon{
    display:block;
}

.radio__input:focus ~ .radio__state .radio__title{
    text-decoration:underline;
}

.radio__input:disabled ~ .radio__state .radio__control{
    border-color: #DDE2E5;
    background-color: #DDE2E5;;
}

.radio__input:disabled ~ .radio__state .radio__title{
    color:#DDE2E5;
}