.calendar{
    border:1px solid #ACB5BD;
    border-radius:8px;
    width:100%;
    max-width:300px;
    padding:28px 26px 40px;
}

.calendar__title{
    color:#334D6E;
    font-size:20px;
    line-height:24px;
    font-weight:600;
    text-align:center;
    margin-bottom:24px;
}

.calendar__wrapper{
    padding-bottom:100%;
    position: relative;
}

.calendar__inner{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.calendar__item{
    font-weight:400;
    font-size:16px;
    line-height: 20px;
    color:#334D6E;
    display:flex;
    justify-content: center;
    align-items: center;
}

.calendar__item-day{
    font-size:14px;  
    color:#90A0B7; 
}

.calendar__item_active{
    background:#4263EB;
    color:#FFFFFF;
}

.calendar__item_between-active{
    background:#A0B1F5;
}