.skeleton{
    border:1px solid #ACB5BD;
    border-radius:8px;
    padding:24px;
}

.skeleton__title{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-bottom:24px;
}

.skeleton__circle{
    border-radius: 50%;
    background:#DDE2E5;
    width:64px;
    height:64px;
    margin-right:16px;
}

.skeleton__line{
    height: 20px;
    background: linear-gradient(to right, #DDE2E5 0%, #E2E6E8 33.333%, #F3F5F5 52.08%, #E3E7EA 73.96%, #DDE2E5 100%);
    margin-bottom:8px;
}

.skeleton_line_min{
    width:172px
}

.skeleton_line_middle{
    width:257px
}

.skeleton_line_max{
    width:515px
}