.footer{
    background-color: #FFFFFF;  
}

.footer__content{
    max-width:640px;
    width:100%;
    margin:0 auto;
    text-align:center;
}

.footer__title{ 
    font-size:38px;
    line-height:48px;
    font-weight:500;
    padding-top:70px;
    padding-bottom:30px;
}

.footer__description{
    font-size:16px;
    line-height:24px;
    font-weight:400;
    padding-bottom:100px;
}