.preview{
    background-color: #F9FAFC;
    border-top:1px solid #DDE2E5;
    border-bottom:1px solid #DDE2E5;  
    padding-top:53px;
    padding-bottom:94px;
}

.preview__cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;  
}

@media screen and (max-width: 576px) {
    .preview{
        padding-top:23px;
        padding-bottom:23px;
    }
    
    .preview__cards{
        gap:16px;  
    }
}