.preview{
    background-color: #F9FAFC;
    border-top:1px solid #DDE2E5;
    border-bottom:1px solid #DDE2E5;  
    padding-top:53px;
    padding-bottom:94px;
}

@media screen and (max-width: 576px) {
    .preview{
        padding-top:23px;
        padding-bottom:23px;
    }
}